@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
.navigation{
    width: 500px;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.navigation ul{
    position: relative;
    display: flex;
    width: 450px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 90px;
    height: 90px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: #333;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.navigation ul li.active a .icon{
    transform: translateY(-35px);
}
.navigation ul li a .text{
    position: absolute;
    transform: translateY(30px);
    transition: 0.5s;
    font-weight: 500;
    opacity: 0;
}
.navigation ul li.active a .text{
    transform: translateY(20px);
    opacity: 1;
}
.indicator{
    position: absolute;
    width: 90px;
    height: 90px;
    background: #29fd53;
    top: -50%;
    border-radius: 50%;
    border: 6px solid #333;
    transition: 0.5s;
}
.indicator:before{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -23px;
    border-top-right-radius: 18px;
    box-shadow: 3px -10px 0 0 #333;
}
.indicator:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: -23px;
    border-top-left-radius: 18px;
    box-shadow: -3px -10px 0 0 #333;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(90px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(90px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(90px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(90px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(90px * 4));
}